<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>aiss.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsController</servlet-name>
    <servlet-class>aiss.controller.NewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsController</servlet-name>
    <url-pattern>/NewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllUserListsController</servlet-name>
    <servlet-class>aiss.controller.GetAllUserListsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserListsController</servlet-name>
    <url-pattern>/GetAllUserListsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrimeStatsController</servlet-name>
    <servlet-class>aiss.controller.CrimeStatsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrimeStatsController</servlet-name>
    <url-pattern>/CrimeStatsController</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CreateVenuesListController</servlet-name>
    <servlet-class>aiss.controller.CreateVenuesListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateVenuesListController</servlet-name>
    <url-pattern>/CreateVenuesListController</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AddVenueToListController</servlet-name>
    <servlet-class>aiss.controller.AddVenueToListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVenueToListController</servlet-name>
    <url-pattern>/AddVenueToListController</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DeleteVenueFromListController</servlet-name>
    <servlet-class>aiss.controller.DeleteVenueFromListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVenueFromListController</servlet-name>
    <url-pattern>/DeleteVenueFromListController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
 
  <!--   Foursquare oAuth2 servlets    -->
    <!-- FoursquareeAuthController-->
    
 <!--    
    <servlet>
        <description/>
        <servlet-name>FoursquareAuthController</servlet-name>
        <servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Foursquare</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoursquareAuthController</servlet-name>
        <url-pattern>/AuthController/Foursquare</url-pattern>
    </servlet-mapping> 
   -->
    
    <!--FoursquareOAuth2Callback-->
 <!--   
    <servlet>
        <description/>
        <servlet-name>FoursquareOAuth2Callback</servlet-name>
        <servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
        <init-param>
            <param-name>provider</param-name>
            <param-value>Foursquare</param-value>
        </init-param>
        <init-param>
            <param-name>onSuccess</param-name>
            <param-value>redirect:/foursquareUserListT</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoursquareOAuth2Callback</servlet-name>
        <url-pattern>/oauth2callback/Foursquare</url-pattern> 
    </servlet-mapping>
 -->
</web-app>