body {
  font-family: "Lato", sans-serif;
}
#map{
	position: absolute;
	bottom:0;
	right:0;
    height:50%;
    width:50%;
    z-index:900;
}
.w3-grey .w3-round-xlarge{
	width: 90%;
	display: flex;
	justify-content: center;
}
.incidentButton{
	border: 3px solid black;
	cursor: pointer;
	width: 100%;
	background-color: transparent;	
	color: white;
}
